body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1c57;
  font-weight: 500;
  letter-spacing: -0.82px;
}

a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

p {
  color: #3e3e70;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.btn-custom {
  background-color: #078d84;
  color: #ffffff;
  padding: 16px 24px;
  border-radius: 8px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  border: none;
}

.btn-trans {
  background-color: #078d8400;
  color: #078d84;
  padding: 16px 24px;
  border-radius: 8px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #078d84;
}

.bg-color {
  background-color: #f6f8ff;
}

.bg1-color {
  background-color: #3e3e70;
}

.bg2-color {
  background-color: #255bf9;
}

.bg3-color {
  background-color: #1c1c57;
}

/* Hero Wrapper Css */

.hero-content h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.hero-content h2 {
  font-size: 56px;
  line-height: 62px;
}