body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1c57;
  font-weight: 500;
  letter-spacing: -0.82px;
}

a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

p {
  color: #3e3e70;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.lh-48 {
  line-height: 48px
}

.lh-29 {
  line-height: 29px
}


.fs-24 {
  font-size: 24px;
}

.fs-36 {
  font-size: 36px
}

.fs-40 {
  font-size: 40px
}

.btn-custom {
  background-color: #078d84;
  color: #ffffff;
  padding: 16px 24px;
  border-radius: 8px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  border: none;
}

.btn-trans {
  background-color: #078d8400;
  color: #078d84;
  padding: 16px 24px;
  border-radius: 8px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #078d84;
}

.bg-color {
  background-color: #f6f8ff;
}

.bg1-color {
  background-color: #3e3e70;
}

.bg2-color {
  background-color: #255bf9;
}

.bg3-color {
  background-color: #1c1c57;
}

/* Hero Wrapper Css */


.dropdown-toggle::after {
  background: url(../img/menu-icon.svg) no-repeat;
  width: 100%;
  max-width: 100%;
  height: 10px;
  margin-left: 0px !important;
  margin-right: 5px;
  vertical-align: 0px !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
}


.hero-content h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.hero-content h2 {
  font-size: 56px;
  line-height: 62px;
}

/* service css*/

.service-area img {
  max-width: 40%;
}

#service-wrapper .card,
.counter-card {
  border-radius: 16px;
  background-color: #FFFFFF;
  box-shadow: rgba(16, 24, 40, 0.06) 0px 7px 29px 0px;
}

/* AboutUs css */
.about-img {
  position: relative;
}

.about-img img {
  position: relative;
  z-index: 20;
}

.about-img::after {
  content: "";
  width: 150px;
  height: 150px;
  background: url(../img/Ellipse.png) no-repeat;
  bottom: -60px;
  left: -50px;
  position: absolute;
  z-index: 1;
}

.about-img::before {
  content: "";
  width: 150px;
  height: 150px;
  background: url(../img/Ellipse1.png) no-repeat;
  top: -48px;
  right: -40px;
  position: absolute;
  z-index: 1;
}

.counter-card p {
  font-size: 16px;
}

/* Review wrapper css */
.review-bio-des h3,
.review-bio-des p {
  font-size: 16px;
}

.revier-star img {
  max-width: 20px;
}

.review-bio-des {
  position: relative;
}

.review-bio-des::after {
  content: "";
  width: 1px;
  height: 50px;
  position: absolute;
  right: -38px;
  top: 0;
  background-color: #000000;

}


#review-wrapper .owl-carousel .owl-nav button.owl-next,
#review-wrapper .owl-carousel .owl-nav button.owl-prev {
  font-size: 40px;
  color: #000000;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: .6s;
}

#review-wrapper .owl-carousel .owl-nav button.owl-next span,
#review-wrapper .owl-carousel .owl-nav button.owl-prev span {
  position: relative;
  top: -10px;
}

#review-wrapper .owl-prev {
  position: absolute;
  left: -250px;
  top: 50%;
  transform: translateY(-80%);
}

#review-wrapper .owl-next {
  position: absolute;
  right: -250px;
  top: 50%;
  transform: translateY(-80%);
}

#review-wrapper .owl-nav button:focus {
  outline: none !important;
}

#review-wrapper .owl-theme .owl-nav [class*=owl-]:hover {
  background-color: #3e3e70 !important;
  color: #ffffff !important;
  transition: .6s;
}

/* newsletter wrapper css */

.newsletter-btn .btn-custom {

  background-color: #ffffff;
  color: #000000;
}

.newsletter-btn .btn-trans {

  border-color: #FFFFFF;
  color: #ffffff;
}

#newsletter-wrapper {
  position: relative;
}

.newsletter-bgimg .img1 img {
  content: "";
  width: 100px;
  height: auto;
  position: absolute;
  top: 20%;
  left: 0;
  transform: translateX(80%);
}

.newsletter-bgimg .img2 img {
  content: "";
  width: 100px;
  height: auto;
  position: absolute;
  top: 15%;
  right: 0;
  transform: translateX(-300%);
}

.newsletter-bgimg .img3 img {
  content: "";
  width: 50px;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(800%);
}

.newsletter-bgimg .img4 img {
  content: "";
  width: 100px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* footer wrapper css*/


#footer-wrapper .footer-first-dec {
  padding-right: 50px;
}

#footer-wrapper .subscript-form p {
  font-size: 16px;
}

#footer-wrapper .subscript-form p:last-child {
  font-size: 12px;
  line-height: 18px;
}

#footer-wrapper form input {
  padding: 16px 24px;
  border-radius: 8px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  color: #FFFFFF;
}

#footer-wrapper form input::-webkit-input-placeholder {
  color: #505050;
}

#footer-wrapper form input:focus,
#footer-wrapper form input:valid {
  border-color: #FFFFFF;
  color: #FFFFFF;
  box-shadow: none;
}


#footer-wrapper form .btn-trans {

  border-color: #FFFFFF;
  color: #ffffff;
}


#footer-wrapper h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

#footer-wrapper ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#footer-wrapper ul li {
  line-height: 32px;
}

#footer-wrapper ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
}

#footer-wrapper ul li img {
  margin-right: 10px;
  width: 20px;
}


.copy-right p {

  color: #FFFFFF;
  font-size: 14px;
  line-height: 21px;
}

.copy-right-menu ul li {
  padding: 8px;
}

.copy-right-menu ul li a {
  text-decoration: underline !important;
}


@media only screen and (max-width: 1024px) {
  .newsletter-bgimg .img2 img {

    transform: translateX(-100%);
  }

  .newsletter-bgimg .img3 img {
    transform: translateX(300%);
  }

  #review-wrapper .owl-carousel .owl-nav button.owl-next,
  #review-wrapper .owl-carousel .owl-nav button.owl-prev {
    display: none;
  }

  .about-img::before {
    top: -50px;
    right: -11px;
  }

  .about-img::after {
    bottom: -50px;
    left: -34px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-content h2 {
    font-size: 36px;
    line-height: 48px;
  }

  .review-bio-des::after {
    right: 0;
  }

  .dropdown-toggle::after {
    width: 8%;
  }
}

@media only screen and (max-width: 540px) {
  .client-des h3 {
    text-align: center;
  }

  .review-bio-logo img {
    width: 70% !important;
  }

  .review-bio-des::after {
    right: 0;
  }

  .newsletter-bgimg .img1 img {
    top: 3%;
    transform: translateX(25%);
  }

  .newsletter-bgimg .img3 img {
    transform: translateX(100%);
  }

  .newsletter-bgimg .img2 img {
    top: 0%;
    transform: translateX(0%);
  }

  .copy-right .row {
    flex-direction: column-reverse;
  }

  .copy-right p {
    text-align: center;
  }

  .copy-right-menu ul {
    justify-content: center !important;
  }
}