body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1c57;
  font-weight: 500;
  letter-spacing: -0.82px;
}

a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

p {
  color: #3e3e70;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.lh-48 {
  line-height: 48px
}

.lh-29 {
  line-height: 29px
}

.fs-24 {
  font-size: 24px;
}

.fs-36 {
  font-size: 36px
}

.fs-40 {
  font-size: 40px
}

.btn-custom {
  background-color: #078d84;
  color: #ffffff;
  padding: 16px 24px;
  border-radius: 8px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  border: none;
}

.btn-trans {
  background-color: #078d8400;
  color: #078d84;
  padding: 16px 24px;
  border-radius: 8px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #078d84;
}

.bg-color {
  background-color: #f6f8ff;
}

.bg1-color {
  background-color: #3e3e70;
}

.bg2-color {
  background-color: #255bf9;
}

.bg3-color {
  background-color: #1c1c57;
}

/* Hero Wrapper Css */

.hero-content h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.hero-content h2 {
  font-size: 56px;
  line-height: 62px;
}

/* service css*/

.service-area img {
  max-width: 40%;
}

#service-wrapper .card,
.counter-card {
  border-radius: 16px;
  background-color: #FFFFFF;
  box-shadow: rgba(16, 24, 40, 0.06) 0px 7px 29px 0px;
}

/* AboutUs css */
.about-img {
  position: relative;
}

.about-img img {
  position: relative;
  z-index: 20;
}

.about-img::after {
  content: "";
  width: 150px;
  height: 150px;
  background: url(../img/Ellipse.png) no-repeat;
  bottom: -60px;
  left: -50px;
  position: absolute;
  z-index: 1;
}

.about-img::before {
  content: "";
  width: 150px;
  height: 150px;
  background: url(../img/Ellipse1.png) no-repeat;
  top: -48px;
  right: -40px;
  position: absolute;
  z-index: 1;
}